<ion-tabs class="tabs-icon-top  tabs-background-positive tabs-color-active-light">



  <!--
   **********************************
   * FAVORITE
   **********************************
  -->

  <ion-tab title="Denunciar C4" icon-off="ion-android-notifications-none" icon-on="ion-android-notifications" href="#/tab/denunciar">
    <ion-nav-view name="tab-denunciar"></ion-nav-view>
  </ion-tab>


  <!--
   **********************************
   * SEARCH
   **********************************
  -->
<!--
  <ion-tab title="Chat C4" icon-off="ion-chatbox" icon-on="ion-chatbox-working" href="#/tab/chat">
    <ion-nav-view name="tab-chat"></ion-nav-view>
  </ion-tab>
-->



  <!--
   **********************************
   * ACCOUNT
   **********************************
  -->
  <ion-tab title="Cuenta" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


<!--
  <ion-tab title="Denuncias-v2" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/denuncias">
    <ion-nav-view name="tab-denuncias"></ion-nav-view>
  </ion-tab>-->

  <!--
   **********************************
   * CAMERA
   **********************************
  -->


<ion-tab title="Alerta-panico" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/panico">
    <ion-nav-view name="tab-panico"></ion-nav-view>
  </ion-tab>
  <!--
   **********************************
   * ALARMAS -EXTRA
   **********************************
  


  <ion-tab title="List-icons" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/icons">
    <ion-nav-view name="tab-icons"></ion-nav-view>
  </ion-tab>
-->
 <ion-tab title="ChatV2" icon-off="ion-chatbox" icon-on="ion-chatbox-working" href="#/tab/chat2">
    <ion-nav-view name="tab-chat2"></ion-nav-view>
  </ion-tab>
<!--
  <ion-tab icon-off="ion-android-home" icon-on="ion-android-home"  ng-click="openApp()">
    <ion-nav-view></ion-nav-view>
  </ion-tab>
-->


</ion-tabs>
