<!--<ion-view hide-nav-bar="true">-->

<ion-view cache-view="true" title="Reporta Baches/Luminaria" id="denunciar" style="background-color: rgb(5, 9, 45);">
    <ion-content>
        <br>
        <!--
        <div class="row">
            <div class="col text-center">
                <img src="img/texto-mapa.png" style="width: 96%" ng-click="openMapas()">
                <!-- <button ng-click="openMapas()"class="button button-medium button-positive icon-right ion-ios-location">Ubica Baches/Iluminarias&nbsp;&nbsp;&nbsp;</button>-->
           <!-- </div>
        </div>-->

        <iframe ng-src="{{url}}" style="width: 100%; min-height:100% " scrolling="yes" marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0">
</iframe>



    </ion-content>
</ion-view>



<!--</ion-view>-->

<style type="text/css">
    .scroll-content>.scroll {
        height: 100%;
    }
    
    .scroll-content>.scroll>iframe {
        min-height: 100%;
    }
</style>