<!--<ion-view hide-nav-bar="true">-->

<ion-view cache-view="true" title="test" id="test" style="background-color: rgb(5, 9, 45);">
    <ion-content>
        <br>
        <div class="row">
        <button class="button button-calm" ng-click="testGPS()">
  prueba de gps
</button>
</div>
<br>
<br>

<div class="row">
<button class="button button-royal" ng-click="testSMS()">
  Prueba de sms
</button>
        </div>

<br>
<br>
<div class="row">
<button class="button button-balanced" ng-click="testLocal()">
  Prueba de local storage
</button>
        </div>



    </ion-content>
</ion-view>



<!--</ion-view>-->

<style type="text/css">
    .scroll-content>.scroll {
        height: 100%;
    }
    
    .scroll-content>.scroll>iframe {
        min-height: 100%;
    }
</style>