<ion-view>
    <ion-view view-title="Citas">

        <!-- Buttons Top Bar Right -->
        <br>
        <br>

        <div class="list">

            <a class="item item-icon-left" href="#/tab/search">
                <i class="icon ion-image"></i> Subir imagen
            </a>

            <a class="item item-icon-left" href="#/tab/search">
                <i class="icon ion-ios-videocam-outline"></i> Subir video

            </a>

            <a class="item item-icon-left" href="#/tab/search">
                <i class="icon ion-ios-musical-note"></i> Subir audio


            </a>

        </div>

    </ion-view>