<ion-view title="Inicio" hide-back-button="true">

  <!-- Slide Box -->
  <ion-slide-box class="slide-intro">
    
    <!-- First Slide -->
    <ion-slide class="text-center flex-vertical-center">
      <h1 class="calm">Bienvenido</h1>
      <h4 class="font-thin">Sistema de alertas Naucalpan</h4>
      <h4 class="font-thin">Con la aplicacion podras denunciar</h4>
      <h4 class="font-thin">actos criminales que suceden</h4>
      <h4 class="font-thin">en tu localidad</h4>
    </ion-slide>

    <!-- Second Slide -->
    <ion-slide class="text-center flex-vertical-center">
      <h1 class="calm">Enviar alerta</h1>
      <h4
 class="font-thin">Para generar una alerta</h4
>
      <h4
 class="font-thin">simplemente habilita tu gps</h4
>
      <h4
 class="font-thin">y dirigete al icono denunciar</h4
>

<a class="button button-icon icon ion-android-notifications-none"></a>
       

    </ion-slide>

    <!-- Third Slide -->
   <ion-slide class="text-center flex-vertical-center">
      <h1 class="calm">Enviando</h1>
      <h4
 class="font-thin">1.-Seleciona un archivo de eidencia</h4>
      <h4 class="font-thin">(Imagen, audio o video)</h4>
      <h4 class="font-thin">2.-Selecciona el tipo de acto criminal</h4>

<h4 class="font-thin">que estas presenciando</h4>
<h4 class="font-thin">3.-Escribe un comentario de lo que sucede</h4>
<h4 class="font-thin">4.-Presiona el boton enviar </h4>

    </ion-slide>

   <!-- 4to slide-->
   <ion-slide class="text-center flex-vertical-center">
      <h1 class="calm">Chat</h1>
      <h4
 class="font-thin">El chat sirve para mantenerte</h4>
      <h4 class="font-thin">en contacto con el administrador,</h4>
      <h4 class="font-thin">el cual enviara ayuda al lugar de los hechos.</h4>
      <h4 class="font-thin">Para entrar al chat unicamente debes </h4>
      <h4 class="font-thin"> presionar el siguiente icono: </h4>

<a class="button button-icon icon ion-chatbox"></a>


 </ion-slide>

   <!-- 5to slide-->
   <ion-slide class="text-center flex-vertical-center">
      <h1 class="calm">¡Completado!</h1>
      <h4
 class="font-thin">¡Felicidades!</h4>
      <h4 class="font-thin">Estas listo para mandar alertas</h4>
      <h4 class="font-thin">en caso de presenciar</h4>
      <h4 class="font-thin">un acto delictivo</h4>
      <h4 class="font-thin">¡Ayudanos a mantener la paz!</h4>

 </ion-slide>


  </ion-slide-box>
</ion-view>